<!doctype html>
<!--[if lt IE 7]><html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if (IE 7)&!(IEMobile)]><html class="no-js lt-ie9 lt-ie8" lang="en"><![endif]-->
<!--[if (IE 8)&!(IEMobile)]><html class="no-js lt-ie9" lang="en"><![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"><!--<![endif]-->
<head>
{% include head.html %}
</head>

<body id="page">

{% include browser-upgrade.html %}
{% include header.html %}

<div id="main" role="main">
  <article class="hentry">
    <div class="entry-content">
      {{ content }}
      <footer class="entry-meta">
        {% if page.modified %}<span>Updated on <span class="entry-date date published updated"><time datetime="{{ page.modified }}">{{ page.modified | date: "%B %d, %Y" }}</time></span></span>
        <span class="author vcard"><span class="fn">{{ site.owner.name }}</span></span>{% endif %}
        {% if page.share != false %}{% include social-share.html %}{% endif %}
      </footer>
    </div><!-- /.entry-content -->
    {% if page.comments != false and site.disqus_shortname %}<section id="disqus_thread"></section><!-- /#disqus_thread -->{% endif %}
  </article>
</div><!-- /#main -->







{% for page in site.pages %}  
    {% if page.section-type == "timeline" %}
      <!-- {{ page.title }} Section -->
      <section id="{{ page.title }}" class="container content-section text-center">
          <div class="row">
              <div class="col-lg-8 col-lg-offset-2">
                {{ page.content | markdownify }}
                <ul class="timeline">
                {% for post in site.posts %}
                  {% assign loopindex = forloop.index | modulo: 2 %}
                  {% capture class %}
                    {% if loopindex == 0 %}
                      timeline-inverted
                    {% endif %}
                  {% endcapture %}

                  <li class="{{ class }}">
                      <div class="timeline-image">
                          <img class="img-circle img-responsive" src="{{ site.baseurl }}/{% if post.image %}{{ post.image }}{% else %}{{site.career-img}}{% endif %}" alt="">
                      </div>
                      <div class="timeline-panel">
                          <div class="timeline-heading">
                              <h4>{{ post.title }}</h4>
                              <h4 class="subheading">{{ post.subtitle }}</h4>
                          </div>
                          <div class="timeline-body">
                              <p class="text-muted">{{ post.content }}</p>
                          </div>
                      </div>
                  </li>

                {% endfor %}

                  <li class="timeline-inverted">
                    <div class="timeline-image">
                      <img class="img-circle img-responsive" src="{{ site.baseurl }}/{{ site.career-img }}" alt="">
                    </div>
                  </li>
   
                </ul>

              </div>
          </div>
      </section>
    {% endif %}
  {% endfor %}






{% include scripts.html %}



<div class="footer-wrapper">
  <footer role="contentinfo">
    {% include footer.html %}
  </footer>
</div><!-- /.footer-wrapper -->

</body>
</html>
